/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body
{
    background: #dbdbdb;
    text-align: center;
    min-height: 100vh;
    font-size: 24px;
}

header, #bracketNav
{
    display: flex;
    background: #2b2b2b;
    color: white;
    align-items: center;
}

.readOnly
{
    background-color: #46cc69;
    border-radius: 0 0 20px 20px;
}

.readOnly p
{
    color: #000000;
    margin: 0 auto;
    font-size: 3vw;
}

.readonlyClose
{
    text-decoration: none;
    color: #000000;
    margin-right: 5%;
}

header
{
    justify-content: right;
}

#bracketNav
{
    justify-content: center;
}

ul > li > a
{
    color: white;
    text-decoration: none;
}

ul > li > a:hover
{
    color: black;
    background-color: white;
}

main
{
    display: flex;
    background-color: #e6e6e6;
    padding: 20px;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

main h1 
{
    margin: 5px 30px;
}

.content
{
    width: 100%;
}

.content > form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentText
{
    width: 100%;
    text-align: left;
    border: 1px solid black;
    margin: 20px;
}

.friendBox
{
    width: 100%;
    max-height: 60vh;
    overflow: auto;
}

.winnerHighlight
{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.currentHighlight
{
    background: #2b2b2b;
    color: white;
    font-weight: bold;
}

.contentText p
{
    margin: 20px;
}

.content button
{
    margin: 40px 20px;
}

#userContent
{
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

footer
{
    background: #2b2b2b;
    color: white;
    font-size: 18px;
}

.comments, .right-sidebar
{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100vh;
}

.voteButton
{
    margin: 0px 20px;
    font-size: 30px;
}

#progress
{
    width: 90%;
    height: 60px;
    border-style: solid;
    background-color: #ffcb47;
    margin: auto;
    margin-bottom: 20px;
}

.right-character-button {
background: #ffcb47;
border-style: outset;
border-color: #cfa53c;
height: 50px;
text-shadow: none;
}

.character-right-span {
    color: #cfa53c;
}

#fill
{
    width: 20%;
    height: 100%;
    background-color: #4E7896;
}

.left-character-button {
background: #4E7896;
color: white;
border-style: outset;
border-color: #4E7896;
height: 50px;
text-shadow: none;
}

.character-left-span {
    color: #4E7896;
}

#matchTime
{
    margin-top: -20px;
    font-size: 15px;
}

.comment
{
    background-color: white;
    color: black;
    text-align: left;
    line-height: 20px;
    word-wrap: break-word;
    border: solid 1px black;
    padding: 5px;
}

.comment > ul
{
    text-align: right;
}

.comment > ul > li > a
{
    color: #78b7e4;
    background-color: #162530;
    font-size: 14px;
    padding: 3px;
    border-radius: 3px;
}

.diaryBox
{
    overflow: auto;
}

form
{
    width: 100%;
    padding: 10px;
    text-align: right;
}

textarea
{
    resize: none;
    width: 100%;
    min-height: 100px;
}

.comment > p
{
    margin: 20px;
}

.profilePicture
{
    width: 50px;
    height: 50px;
    margin: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePicture > img
{
    width: 100%;
}

ul > li
{
    display: inline;
    margin: 0px 5vw;
    font-size: 3vw;
}

#userProfileCharacters
{
    display: flex;
    justify-content: center;
}

#userProfileCharacters > form
{
    text-align: center;
}

#userProfileCharacters > form > input
{
    font-size: 22px;
}

#userProfileCharacters > *
{
    display: inline;
    margin: 0 auto;
}

.status
{
    border: solid 1px red;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

@media all and (min-width: 865px),
{
    .container
    {
        flex-direction: row;
        flex-wrap: wrap;    
    }

    header, 
    footer
    {
        width: 100%;
    }
    main
    {
        height: 85vh;
        flex: 2;
        order: 2;
    }
    
    .comments, .right-sidebar
    {
        flex: 1;
        order: 3;
        height: 85vh;
        flex-direction: column-reverse;
    }

    .user-sidebar
    {
        flex: 1;
        order: 1;
        max-height: 85vh;
    }

    footer {
        order: 4;
    }
    
    ul > li
    {
        margin: 0px 20px;
        font-size: 20px;
    }

    .readOnly p
    {
        font-size: 18;
    }
}